html {
  background-color: #efefef;
}

table {
  min-width: 50em;
  background-color: #fff;
}

.table-wrapper {
  overflow: visible;
}

.logo {
  max-width: 200px;
}

header {
  background-color: #ddd;
}

.search {
  background-color: #fff;
  border: solid 2px #000;
}

dl {
  background-color: #fff;
  border-radius: 5px;
}
